@use "../../App.scss";
#projects {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include App.xs-screen {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 20px;
    .card {
      width: 100% !important;
      overflow: hidden;
      border: none;
      &:hover {
        transform: scale(1.02);
      }
      img {
        position: relative;
        bottom: -20px;
        right: -30px;
      }
    }
  }
}
