@use "../../App.scss";
#home {
  min-height: 100vh;
  padding: 0 40px;
  @include App.xs-screen {
  }
  .log {
    @include App.xs-screen {
      text-align: center;
    }
    h1 {
      @include App.xs-screen {
        font-size: var(--fs-48);
      }
    }
    button {
      svg {
        margin-left: 10px;
      }
    }
  }
  .img {
    position: relative;
    overflow: hidden;
    img {
      transition: all 0.5s;
      filter: grayscale(70%);
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
