header {
  background-color: var(--vilote-color);
  background-image: url(../../assets/svg/bg.svg);
  .tech-talk {
    span {
      box-shadow: 15px 15px var(--black-color);
      position: relative;
      background-color: var(--yellow-color);
      font-size: var(--fs-h1);
      font-weight: var(--fw-700);
      padding: var(--box-padding-lg);
      border: var(--box-border);
      &::before {
        content: "The";
        position: absolute;
        top: -50%;
        left: -30%;
        transform: translate(50%, 50%);
        background: var(--white-color);
        padding: var(--box-padding-sm);
        border: var(--box-border);
        font-size: var(--fs-h3);
        font-weight: var(--fw-700);
        font-style: italic;
      }
    }
  }
}
