@import "~bootstrap/scss/bootstrap";
:root {
  --ff-primary: "Open Sans", sans-serif;
  --vilote-color: rgb(144, 89, 255);
  --white-color: rgb(255, 255, 255);
  --head-color: rgb(28, 27, 34);
  --black-color: rgb(0, 0, 0);
  --yellow-color: rgb(255, 234, 128);
  --purple-color: rgb(255, 223, 231);
  --light-green-color: rgb(227, 255, 243);
  --fs-h1: 86px;
  --fs-h2: 64px;
  --fs-h3: 48px;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --box-padding-lg: 40px 30px;
  --box-padding-sm: 10px 30px;
  --box-border: 5px solid var(--black-color);
}
